main
.env
main.exe
swagger/
swagger/*
swagger/docs.go
swagger/swagger.json
swagger/swagger.yaml
databasus-backend.exe
ui/build/*
pgdata-for-restore/
temp/
cmd.exe
temp/
databasus.json
.test-tmp/
databasus.log
